extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Daryl Monte
        p Frontend Web Developer and Graphic Designer

        .about-bio
          p I value my clients and their businesses before anything. I can help you in creating websites that convey information to potential customers, increases brand awareness and help you sell your product or services.
          p With an experience of over ten years in Web Development. I focus on delivering High-Quality work with complete professionalism. 
          p I have designed and developed a wide range of websites using WordPress for startup companies, entrepreneurs and various small to Medium scale businesses.
          p My core competency lies in a complete end to end management of a new website development project and I am seeking opportunities to build websites from the ground up for you or your business.

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Wordpress 
          li Elementor
          li Illustrator 
          li Photoshop 
          li Figma 
          li Shopify 
          li Squarespace 
          li Wix

        h6 Contact Info
        ul
          li 416-835-5160
          li 
            a(href='mailto:darylmonte@gmail.com') darylmonte@gmail.com
          li Toronto, Canada

        a.btn-link(href='https://www.linkedin.com/in/darylmonte/',target="_blank") LinkedIn
        a.btn-link(href='https://github.com/darylmonte',target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back